/* Navabar */
.logo{
    width: 4rem;
}

.navbar{
    padding: .5rem 1rem 0 1rem;
    transform: perspective(1000px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.nav-item{
    margin-top: 3%;
    width: 6rem;
}

.nav-home{
    margin-left: 8%;
}