<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class = "navbar-nav">
      <li>
        <img class="logo" src="https://i.ibb.co/6vmMCGY/logo2.png" alt="logo2">
      </li>
        <li class = "nav-item nav-home">
            <a routerLink="home" routerLinkActive="active" class="nav-link" >Home</a>
        </li>
        <li class = "nav-item">
            <a routerLink="about" routerLinkActive="active" class="nav-link" >About Us</a>
        </li>
        <li class = "nav-item">
          <a routerLink="enquire" routerLinkActive="active" class="nav-link" >Enquire</a>
      </li>
      <li class = "nav-item">
        <a routerLink="login" routerLinkActive="active" class="nav-link" >Login</a>
    </li>
    </ul>
  </nav>
<div class = "container">
    <router-outlet></router-outlet>
  </div>