/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background-image: url('https://i.ibb.co/HtJgW6B/background-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}