<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
	crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Update</title>
</head>
<body>
	<div class="container">
		<p class="h1">Order Update Form</p>
		<hr />
		<form action="#" th:action="@{/orders/update}"
			th:object="${product}" method="POST">
			<input type="hidden" th:field="*{productId}" />
			<table class="table">
				<!-- Add hidden form field to handle update -->


				<tr>
					<td>Product Name</td>
					<td><input type="text" th:field="*{productName}"
						placeholder="Product Name"></td>
				</tr>
				<tr>
					<td>Product Price</td>
					<td><input type="text" th:field="*{productPrice}"
						placeholder="Product Price"></td>
				</tr>
				<tr>
					<td><input type="submit" value="update"></td>
				</tr>
			</table>

		</form>
	</div>
</body>
</html>