body{
    background-color: #05c46b;
    margin-left: 30%;
    margin-right: 30%;
}

h1{
    text-align: center;
}

form{
    font-size: 1.2rem;
    background-color: white;
    box-shadow: 5px 5px black;
    padding: 5%;
}

.box{
    width: 95%;
    height: 1.5rem;
}

select.box{
    width: 96.5%;
    height: 2rem;
}

button{
    background-color: #05c46b;
    width: 100%;
    height: 2rem;
    cursor: pointer;
}

textarea{
    width: 95%;
    height: 5rem;
}