  <div class="book-appointment">
    <h2>People's Health</h2>
    <h6>Your Health, Our Priority: Nurturing Wellness with Compassionate Care</h6>
    <a routerLink="../login" routerLinkActive="active" class="nav-link" ><button type="button" class="btn btn-outline-primary">Book an Appointment</button></a>
  </div>
  <footer>
    <div class="footer-items">
      <div class="card" style="width: 18rem;display: inline-block;">
      <div class="card-body">
      <h5 class="card-title"><i class="fa-solid fa-truck-medical"></i>&nbsp;&nbsp;&nbsp;Ambulance</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;display: inline-block;">
    <div class="card-body">
    <h5 class="card-title"><i class="fa-solid fa-syringe"></i>&nbsp;&nbsp;&nbsp;Vaccination</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
<div class="card" style="width: 18rem;display: inline-block;">
  <div class="card-body">
  <h5 class="card-title"><i class="fa-solid fa-stethoscope"></i>&nbsp;&nbsp;&nbsp;Physician</h5>
  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
</div>
<div class="card" style="width: 18rem;display: inline-block;">
  <div class="card-body">
  <h5 class="card-title"><i class="fa-solid fa-brain"></i>&nbsp;&nbsp;&nbsp;Surgery</h5>
  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
</div>
</div>
  </footer>